@use "../../styles/mixins" as *;

.row {
  display: flex;
  align-items: end;
  justify-content: start;

  padding: 2rem 2rem 0rem;
  width: 100%;
  overflow: hidden;

  &:hover {
    .row__btn {
      svg {
        opacity: 1;
      }
    }
  }

  .row__btn {
    @include text-styling(
      var(--primary-white),
      var(--text-preset-4-size),
      var(--font-weight-bold)
    );
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    color: var(--primary-blue-500);
    cursor: pointer;

    &:hover {
      p {
        opacity: 1;
        transform: translate(0px);
      }
      svg {
        transform: translate(0px);
      }
    }

    p {
      transition: 0.6s ease;
      opacity: 0;
      transform: translate(-10px);
    }

    svg {
      transition: 0.3s ease;
      transform: translate(-100px);
      height: 1rem;
      opacity: 0;
    }
  }
}
