@use "../../styles/mixins" as *;
.grid {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.card__grid {
  padding: 1rem 3rem 1rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 2rem;
  overflow: visible;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include for-desktop-up {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  @include for-tablet-up {
    gap: 2rem;
    padding: 2rem;
  }

  @media (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @include for-mobile-up {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (max-width: 400px) {
    padding: 1rem;
    gap: 0.5rem;
  }
}
