@use "../../styles/mixins" as *;
.grid {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 80vh;

  .grid__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.similar {
  .card__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card__grid {
  padding: 1rem 3rem 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
  overflow: visible;
  overflow-y: none;
  min-height: 80vh;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include for-desktop-up {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  @include for-tablet-up {
    gap: 2rem;
    padding: 2rem;
  }

  @media (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @include for-mobile-up {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (max-width: 400px) {
    padding: 1rem;
    gap: 0.5rem;
  }
}
