.viewMore__container {
  width: 100%;
  padding: 3rem;
  position: relative;

  .viewMore__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.1rem;
    background-color: var(--primary-blue-950);
    border-radius: 100%;
    border: 1.5px solid var(--primary-grey-light);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;

    &:hover {
      border: 1.5px solid var(--primary-white);

      svg {
        color: var(--primary-white);
      }
    }

    svg {
      color: var(--primary-grey-light);
      transform: rotate(90deg);
    }
  }

  .viewMore__line {
    width: 100%;
    height: 1px;
    background-color: var(--primary-grey-light);
  }
}
