:root {
  /* COLORS */
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-blue-950: #10141e;
  --primary-blue-900: #161d2f;
  --primary-blue-500: #5a698f;
  --primary-red-500: #fc4747;
  --primary-grey: #979797;
  --primary-grey-light: #97979788;

  --primary-gradient: #fc4747;

  /* Typography */
  --primary-font: "Outfit", sans-serif;

  /* Font Sizing Normal*/

  --text-preset-1-size: 2rem;
  --text-preset-2-size: 1.5rem;
  --text-preset-3-size: 1.125rem;
  --text-preset-4-size: 0.938rem;
  --text-preset-5-size: 0.813rem;

  /* Font Sizing Mobile*/

  --text-preset-1-size-mobile: 1.25rem;
  --text-preset-2-size-mobile: 1rem;
  --text-preset-3-size-mobile: 0.938rem;
  --text-preset-4-size-mobile: 0.875rem;
  --text-preset-5-size-mobile: 0.75rem;
  --text-preset-6-size-mobile: 0.688rem;

  /* Line Height */
  --text-line-height: 1.25;

  /* Letter Spacing */
  --text-preset-1-spacing: -0.5px;
  --text-preset-1-spacing-mobile: -0.3px;
  --text-preset-1-spacing-other: 0px;

  /* Font Weights */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* SCSS VARIABLES  */

/* Breakpoints */
$bp-mobile: 40.625em; // 600px
$bp-tablet: 56.25em; // 900px
$bp-desktop: 75em; // 1200px
