.modalAll__wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.671);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;

  .modalAll__container {
    background-color: var(--primary-blue-950);
    height: fit-content;
    border-radius: 8px;
    width: 80%;
    color: var(--primary-white);
    position: relative;
  }
}
