@use "../../styles/mixins" as *;

.modalAll__wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.671);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 1rem;

  @include for-tablet-up {
    padding: 2rem 0;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.747);
  }

  .modalAll__container {
    background-color: var(--primary-blue-950);
    height: fit-content;
    border-radius: 8px;
    width: 90%;
    max-height: fit-content;
    min-height: 90vh;
    color: var(--primary-white);
    position: relative;
    padding: 1rem 3rem;
    margin-top: 1rem;

    @include for-tablet-up {
      padding: 1rem 1rem;
    }

    .viewMore__container {
      width: 100%;
      padding: 3rem;
      position: relative;

      .viewMore__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem 1.1rem;
        background-color: var(--primary-blue-950);
        border-radius: 100%;
        border: 1.5px solid var(--primary-grey-light);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;

        &:hover {
          border: 1.5px solid var(--primary-white);

          svg {
            color: var(--primary-white);
          }
        }

        svg {
          color: var(--primary-grey-light);
          transform: rotate(90deg);
        }
      }

      .viewMore__line {
        width: 100%;
        height: 1px;
        background-color: var(--primary-grey-light);
      }
    }
  }
}
