@use "../../styles/mixins" as *;

.layout-wrapper {
  display: flex;
  // height: 100vh;
  // width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;

  @include for-tablet-up {
    flex-direction: column;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .content-wrapper {
    width: 90%;
    padding: 1.5rem 2rem;
    margin-left: 8%;

    @include for-desktop-up {
      margin-left: 0%;
      width: 85%;
    }

    @include for-tablet-up {
      margin-left: 0%;
      width: 100%;
    }
  }
}
