.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .content-wrapper {
    width: 90%;
    padding: 1.5rem 2rem;
    margin-left: 8%;
  }
}
