@use "../../styles/mixins" as *;

.layout-wrapper {
  display: grid;

  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
  grid-template-columns: 10rem 1fr;
  padding: 2rem 0;

  @include for-tablet-up {
    grid-template-columns: 1fr;
  }

  @include for-mobile-up {
    padding: 0rem;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .content-wrapper {
    width: calc(100vw - 10rem);

    @include for-tablet-up {
      width: calc(100vw);
    }
  }
}
