@use "../../../styles/mixins" as *;

.modal__wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.671);
  top: 0;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  z-index: 100;

  .player__wrapper {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 50vh;
    }
  }

  .player__wrapper iframe {
    width: 100%;
    height: 50vh;
    cursor: pointer;
    pointer-events: none;
    border: none;
  }

  .overlay {
    opacity: 1;
    position: absolute;
    pointer-events: none;
    height: 50vh;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    border: none;
    background: linear-gradient(
      to bottom,
      transparent,
      var(--primary-blue-950)
    );

    h2 {
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      opacity: 0.8;
      @include text-styling(
        var(--primary-white),
        var(--text-preset-1-size),
        var(--font-weight-bold)
      );

      font-size: 3rem;
      width: 80%;
    }
  }
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .modal__container {
    background-color: var(--primary-blue-950);
    height: fit-content;
    border-radius: 8px;
    width: 45%;
    color: var(--primary-white);
    min-height: 80%;
    position: relative;
    margin: 5rem 0;

    @media (max-width: 1400px) {
      width: 70%;
    }

    @include for-desktop-up {
      width: 90%;
    }

    @include for-tablet-up {
      width: 85%;
    }

    .card__img-placeholder {
      height: 50vh;
    }

    .modal__content {
      padding: 2rem 3rem 2rem 3rem;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: space-between;

      .modal__generalInfo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 55%;

        .modal__overview {
          @include text-styling(
            var(--primary-white),
            var(--text-preset-3-size),
            var(--font-weight-regular)
          );
        }
      }

      .modal__timeContainer {
        display: flex;
        gap: 1rem;
        @include text-styling(
          var(--primary-grey),
          var(--text-preset-4-size),
          var(--font-weight-regular)
        );

        .modal_seriesText {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }

      .modal__rightContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .modal__genreList {
        width: 100%;
        list-style: none;
        display: flex;
        gap: 0.3rem;
        flex-wrap: wrap;
      }
      .modal__label {
        display: flex;
        gap: 0.3rem;
        @include text-styling(
          var(--primary-grey-light),
          var(--text-preset-4-size),
          var(--font-weight-regular)
        );
        width: 100%;

        .modal__text {
          @include text-styling(
            var(--primary-white),
            var(--text-preset-4-size),
            var(--font-weight-regular)
          );

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }

          &::after {
            content: ",";
          }

          &:last-child::after {
            content: ""; // remove comma for the last item
          }
        }
      }

      .modal__linkContainer {
        display: flex;
        gap: 1rem;
        .modal__links {
          text-decoration: none;
          color: var(--primary-blue-500);
          transition: 0.2s ease;

          &:hover {
            color: var(--primary-white);
            text-decoration: underline;
          }
        }
      }
    }

    .viewMore__btn {
      width: 100%;
    }

    .card__img {
      bottom: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85),
        rgba(218, 7, 7, 0)
      );
    }

    img {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      position: relative;
      height: 50vh;
      max-height: 60vh;

      &::after {
        content: "";

        z-index: 100;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .modal__person {
    width: 25%;

    .modal__personContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .modal__content {
      padding: 2rem 3rem;
    }
  }
}

.similar {
  padding: 3rem;
  .similar__grid {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem;
    overflow: visible;
    overflow-y: none;
  }

  .viewMore__container {
    .viewMore__btn {
      width: 3rem;
      padding: 1rem;
      svg {
      }
    }
  }
}
