.selection {
  background-color: transparent;
  width: 10%;
  padding: 1rem;
  color: var(--primary-white);
  cursor: pointer;
  font-size: 1rem;
  appearance: none;
  border: 1px solid var(--primary-grey);

  &:hover {
    border: 1px solid var(--primary-blue-500);
  }

  option {
    font-family: var(--primary-font);
    background-color: var(--primary-blue-950);
    padding: 10px;
    border: 1px solid var(--primary-blue-500);
  }
}
