@use "../../styles/mixins" as *;

.card {
  // width: fit-content;
  height: fit-content;
  color: var(--primary-white);
  cursor: pointer;
  .card__img {
    position: relative;
    height: 14rem;
    img {
      width: 100%;
      border-radius: 8px;
      height: 100%;
    }

    .card__bookmark-btn {
      position: absolute;
      top: 15px;
      right: 20px;
    background-color: var(--primary-grey-dark);
      border: none;
      border-radius: 50%;
      padding: 0.8rem;
      cursor: pointer;
      color: var(--primary-white);
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: white;
        color: var(--primary-black);
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .overlay {
    background-color: var(--primary-grey-dark);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;

    &__btn {
      width: 40%;
      background-color: var(--primary-grey-light);
      border-radius: 10rem;
      border: none;
      padding: 1rem;
      display: flex;
      color: var(--primary-white);
      cursor: pointer;
    }

    &__text {
      margin-left: 1.5rem; 
      @include text-styling(
        var(
          --primary-white,
          var(--text-preset-3-size),
          var(--font-weight-medium)
        )
      );
    }
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.card__context {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.5rem;
  &-list {
    display: flex;
    gap: 2rem;

    li {
      @include text-styling(
        var(--primary-grey),
        var(--text-preset-5-size),
        var(--font-weight-regular)
      );
    }

    li:first-child {
      list-style: none;
    }

    .list__item-catagory {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
    }
  }

  &-title {
    @include text-styling(
      var(--primary-white),
      var(--text-preset-3-size),
      var(--font-weight-medium)
    );
  }
}
