@use "../../styles/mixins" as *;

.card {
  // width: fit-content;
  min-height: fit-content;
  position: relative;
  border-radius: 4px;
  height: 100%;
  overflow: visible;
  height: 12rem;

  &.poster {
    height: 25rem;

    @include for-desktop-up {
      height: 15rem;
    }

    @include for-mobile-up {
      height: 15rem;
    }

    @media (max-width: 400px) {
      height: 12rem;
    }
  }

  @include for-desktop-up {
    height: 10rem;
  }

  @include for-mobile-up {
    height: 10rem;
  }

  @media (max-width: 400px) {
    height: 8rem;
  }

  &:hover {
    box-shadow:
      rgb(0, 0, 0) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  color: var(--primary-white);
  cursor: pointer;
  .card__img {
    border-radius: 4px;

    position: relative;
    height: 100%;
    overflow: hidden; // THIS is key

    // @include for-tablet-up {
    //   height: 10rem;
    // }

    img {
      width: 100%;
      border-radius: 4px;
      height: 100%;
    }

    .card__bookmark-btn {
      position: absolute;
      top: 15px;
      right: 20px;
      background-color: var(--primary-grey-dark);
      border: none;
      border-radius: 50%;
      padding: 0.8rem;
      cursor: pointer;
      color: var(--primary-white);
      transition: 0.3s ease-in-out;

      @include for-tablet-up {
        top: 10px;
        right: 15px;
        padding: 0.5rem;
      }

      // &:hover {
      //   background-color: white;
      //   color: var(--primary-black);
      // }

      svg {
        width: 20px;
        height: 20px;

        @include for-tablet-up {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.card__context {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; // optional, feels more Netflix
  padding: 0.8rem;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  border-radius: 4px;
  &-list {
    display: flex;
    gap: 2rem;

    @include for-tablet-up {
      gap: 0;
      justify-content: space-between;
    }

    li {
      list-style: none;

      @include text-styling(
        var(--primary-white),
        var(--text-preset-5-size),
        var(--font-weight-regular)
      );

      @include for-mobile-up {
        @include text-styling(
          var(--primary-white),
          var(--text-preset-5-size-mobile),
          var(--font-weight-regular)
        );
      }
    }

    li:first-child {
      list-style: none;
    }

    .list__item-catagory {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
    }
  }

  &-title {
    @include text-styling(
      var(--primary-white),
      var(--text-preset-3-size),
      var(--font-weight-medium)
    );
    @include for-mobile-up {
      @include text-styling(
        var(--primary-white),
        var(--text-preset-3-size-mobile),
        var(--font-weight-medium)
      );
    }
  }
}

.card__img-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #222, #444);
  color: #fff;
  font-size: 0.9rem;
  border-radius: 4px;
}
