@use "../../styles/mixins" as *;

.card {
  // width: fit-content;
  min-height: fit-content;
  position: relative;
  border-radius: 4px;
  background-color: var(--primary-blue-900);
  height: 100%;
  overflow: visible;

  &:hover {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  color: var(--primary-white);
  cursor: pointer;
  .card__img {
    border-radius: 4px;

    position: relative;
    height: 12rem;
    overflow: hidden; // THIS is key

    // @include for-tablet-up {
    //   height: 10rem;
    // }

    @include for-desktop-up {
      height: 10rem;
    }

    @include for-mobile-up {
      height: 10rem;
    }

    @media (max-width: 400px) {
      height: 8rem;
    }

    img {
      width: 100%;
      border-radius: 4px;
      height: 100%;
    }

    .card__bookmark-btn {
      position: absolute;
      top: 15px;
      right: 20px;
      background-color: var(--primary-grey-dark);
      border: none;
      border-radius: 50%;
      padding: 0.8rem;
      cursor: pointer;
      color: var(--primary-white);
      transition: 0.3s ease-in-out;

      @include for-tablet-up {
        top: 10px;
        right: 15px;
        padding: 0.5rem;
      }

      // &:hover {
      //   background-color: white;
      //   color: var(--primary-black);
      // }

      svg {
        width: 20px;
        height: 20px;

        @include for-tablet-up {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  // .overlay {
  //   background-color: var(--primary-grey-dark);
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   border-radius: 8px;
  //   opacity: 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   transition: 0.3s ease;

  //   &__btn {
  //     width: 40%;
  //     background-color: var(--primary-grey-light);
  //     border-radius: 10rem;
  //     border: none;
  //     padding: 1rem;
  //     display: flex;
  //     color: var(--primary-white);
  //     cursor: pointer;
  //   }

  //   &__text {
  //     margin-left: 1.5rem;
  //     @include text-styling(
  //       var(
  //         --primary-white,
  //         var(--text-preset-3-size),
  //         var(--font-weight-medium)
  //       )
  //     );
  //   }
  // }
}

.card__context {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; // optional, feels more Netflix
  padding: 0.8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));

  &-list {
    display: flex;
    gap: 2rem;

    @include for-tablet-up {
      gap: 0;
      justify-content: space-between;
    }

    li {
      list-style: none;

      @include text-styling(
        var(--primary-white),
        var(--text-preset-5-size),
        var(--font-weight-regular)
      );

      @include for-mobile-up {
        @include text-styling(
          var(--primary-white),
          var(--text-preset-5-size-mobile),
          var(--font-weight-regular)
        );
      }
    }

    li:first-child {
      list-style: none;
    }

    .list__item-catagory {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
    }
  }

  &-title {
    @include text-styling(
      var(--primary-white),
      var(--text-preset-3-size),
      var(--font-weight-medium)
    );
    @include for-mobile-up {
      @include text-styling(
        var(--primary-white),
        var(--text-preset-3-size-mobile),
        var(--font-weight-medium)
      );
    }
  }
}
