@use "../../styles/mixins" as *;

.card {
  width: fit-content;
  height: fit-content;
  color: var(--primary-white);
  .card__img {
    position: relative;

    img {
      width: 100%;
      border-radius: 8px;
    }

    button {
      position: absolute;
      top: 15px;
      right: 20px;
      background-color: var(--primary-grey-light);
      border: none;
      border-radius: 50%;
      padding: 0.8rem;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.card__context {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.5rem;
  &-list {
    display: flex;
    gap: 2rem;

    li {
      @include text-styling(
        var(--primary-grey),
        var(--text-preset-5-size),
        var(--font-weight-regular)
      );
    }

    li:first-child {
      list-style: none;
    }

    .list__item-catagory {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
    }
  }

  &-title {
    @include text-styling(
      var(--primary-white),
      var(--text-preset-3-size),
      var(--font-weight-medium)
    );
  }
}
