.themeToggler {
  &__container {
    background-color: var(--bg-app);
    height: 2.5rem;
    border-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
  }
}

.toggle-placeholder {
  width: 50px;
  height: 22px;
  border-radius: 9999px;
  background-color: var(--action-primary);
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: var(--action-primary-hover);
  }

  &::after {
    width: 16px;
    height: 16px;
    content: "";
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: 0.3s;
  }

  &.toggle-dark::after {
    transform: translate(28px);
  }
}

.nav__link {
  color: var(--primary-blue-500);
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  border: none;

  &:hover {
    color: var(--primary-red-500);
  }

  &.active {
    color: var(--primary-white);
  }
}
