.modal__wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.671);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;

  .player__wrapper {
  }

  .player__wrapper iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 40vh;
    cursor: pointer;
    pointer-events: none;
    border: none;
  }

  .overlay {
    inset: 0;
    position: absolute;
    pointer-events: none; /* lets video stay interactive if needed */
    height: 40vh;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 4px;
    border: none;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .modal__container {
    background-color: var(--primary-blue-950);
    height: fit-content;
    border-radius: 8px;
    width: 40%;
    color: var(--primary-white);
    min-height: 80%;
    position: relative;

  

    .card__img {
      bottom: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85),
        rgba(218, 7, 7, 0)
      );
    }

    img {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      position: relative;
      min-height: 50vh;
      max-height: 60vh;

      &::after {
        content: "";

        z-index: 100;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
