.modal__wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.671);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .modal__container {
    background-color: var(--primary-blue-950);
    height: fit-content;
    border-radius: 8px;
    width: 50%;
    color: var(--primary-white);
    min-height: 80%;
    position: relative;

    .close__btn {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 2;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      border-radius: 100%;
      background-color: var(--primary-grey-dark);
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
        background-color: var(--primary-grey-light);
      }

      svg {
        color: var(--primary-white);
        height: 2.2rem;
        width: 2.2rem;
      }
    }

    .card__img {
      bottom: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85),
        rgba(218, 7, 7, 0)
      );
    }

    img {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      position: relative;

      &::after {
        content: "";

        z-index: 100;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
