@use "../../styles/mixins" as *;

.footer {
  padding: 5rem;
  width: 100%;
  grid-column: span 2;
  margin-top: 1rem;
  background-color: var(--primary-blue-900);
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  p {
    @include text-styling(
      var(--primary-white),
      var(--text-preset-3-size),
      var(--font-weight-bold)
    );
  }
}
