@use "../../styles/mixins" as *;

.search {
  display: flex;
  gap: 1rem;
  align-items: center;
  @include for-tablet-up {
    padding:1rem 2rem;
  }

  &__wrapper {
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      width: 0rem;
      bottom: 0;
      left: 0;
      height: 0.05rem;
      background-color: var(--primary-blue-500);
      z-index: 1;
      transition: width 0.3s ease;
    }

    &:focus-within::after {
      width: 50%;

      @include for-mobile-up {
        width: 100%;
      }
    }
    &:hover::after {
      width: 50%;

      @include for-mobile-up {
        width: 100%;
      }
    }
  }

  &__bar {
    width: 50%;
    background-color: transparent;
    @include text-styling(
      var(--primary-white),
      var(--text-preset-3-size),
      var(--font-weight-regular)
    );
    padding: 1rem;
    outline: none;
    border: none;
    font-family: var(--primary-font);

    @include for-mobile-up {
      width: 100%;
    }
  }

  &__bar::placeholder {
    font-family: var(--primary-font);

    @include text-styling(
      var(--primary-grey),
      var(--text-preset-3-size),
      var(--font-weight-regular)
    );
  }
}
