.close__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--primary-grey-dark);
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    background-color: var(--primary-grey-light);
  }

  svg {
    color: var(--primary-white);
    height: 2.2rem;
    width: 2.2rem;
  }
}
