@use "../../styles/mixins" as *;

.nav {
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    @include for-tablet-up {
      flex-direction: row;
      gap: 4rem;

      @include for-mobile-up {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  &__link {
    color: var(--primary-blue-500);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    height: 100%;
    min-height: 3rem;


    &:hover {
      color: var(--primary-red-500);
    }

    &.active {
      color: var(--primary-white);
    }
  }
}
