.nav {
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: var(--primary-blue-500);
    transition: all 0.3s ease;

    &:hover {
      color: var(--primary-red-500);
    }
    &.active {
      color: var(--primary-white);
    }
  }
}
