@use "../../styles/mixins" as *;

.nav_logout {
  width: 2rem;
  svg {
    height: 2rem;
    width: fit-content;
  }
}

.navbar {
  padding: 0rem 2rem;
  height: 80vh;

  @include for-desktop-up {
    position: relative;
    height: 80vh;
  }

  @include for-tablet-up {
    position: relative;
    height: fit-content;
    padding: 1rem 2rem;
  }

  @include for-mobile-up {
    padding: 0rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    background-color: var(--primary-blue-900);
    padding: 1.5rem;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: fixed;

    @include for-tablet-up {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      height: fit-content;
      border-radius: 10px;
      position: relative;
    }

    @include for-mobile-up {
      padding: 1rem 1rem;
      justify-content: space-between;
      border-radius: 0px;
      gap: 0;
    }
  }

  &__avatar {
    margin-top: auto;
    border: 2px solid var(--primary-white);
    border-radius: 50%;
    height: fit-content;
    width: fit-content;

    img {
      height: 2.5rem;
      width: 2.5rem;

      @include for-mobile-up {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
