@use "../../styles/mixins" as *;

.trending {
  &__grid {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    padding: 3rem 4rem 4rem 2rem;
    z-index: 1000;

    .trending__scroll {
    }

    @include for-tablet-up {
      padding: 1rem 3rem 2rem 2rem;
    }

    @include for-mobile-up {
      gap: 1.5rem;
    }

    &::-webkit-scrollbar {
      height: 6px; // horizontal scrollbar height
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .card {
      flex-shrink: 0; // prevents shrinking
      width: 20rem;
      height: 12rem;
      border-radius: 8px;
      position: relative;

      @include for-desktop-up {
        height: 10rem;
      }

      @include for-mobile-up {
        height: 10rem;
      }

      @media (max-width: 400px) {
        height: 8rem;
      }

      .bookmark__btn {
        position: absolute;
        top: 15px;
        right: 20px;
        background-color: var(--primary-grey-dark);
        border: none;
        border-radius: 50%;
        padding: 0.8rem;
        cursor: pointer;
        color: var(--primary-white);
        transition: 0.3s ease-in-out;
        z-index: 1;

        &:hover {
          background-color: white;
          color: var(--primary-black);
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .overlay__btn {
        width: fit-content;
        height: fit-content;
      }
    }

    .card__background {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      border-radius: 8px;
    }

    .trending__card__context {
      position: absolute;
      bottom: 15px;
      left: 20px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .card__context-list li {
      color: var(--primary-white);
    }
  }

  // &__grid::-webkit-scrollbar {
  //   display: none;
  // }
}
